@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'poppins', sans-serif;
    color: #222;
}

.content{
    grid-template-columns: 1fr;
    width: 75%;
    height: auto;
    flex-wrap: wrap;
}

.navbar{
    padding: .8rem;
  }
  
.navbar-nav li{
    padding-right: 20px;
}
  
.navbar a:hover{
    text-decoration: underline;
    transition: .5s;
}
  
.nav-link{
    font-size: 1.1em !important;
}

.fa-user-circle{
    font-size: 24px;
  }

.btn-light{
    border-radius: 25px;
}
  
.btn-outline-light{
    border-radius: 25px;
}
  
.btn-outline-dark{
    border-radius: 25px;
}
  
hr{
    border-top: 1px solid rgb(206, 206, 206);
}