@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'poppins', sans-serif;
    color: #222;
}

hr{
    border-top: 1px solid rgb(206, 206, 206);
}

.navbar{
    padding: .8rem;
    text-transform: uppercase;
}
  
.navbar-brand img{
    height: 4rem;
}
  
.navbar-nav li{
    padding-right: 20px;
}
  
.navbar-light .navbar-nav .nav-link {
    color: white;
}
  
.nav-link::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    display: block;
    transition: .5s;
}
  
.nav-link:hover::after{
    width: 100%;
}
  
.nav-link{
    font-size: 1.1em !important;
}
  
.nav-link{
    font-size: 1.1em !important;
}

.fa-user-circle{
    font-size: 24px;
}

.btn-light{
    border-radius: 25px;
}
  
.btn-outline-light{
    border-radius: 25px;
}
  
.btn-outline-dark{
    border-radius: 25px;
}

.card:hover{
    transition: .5s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
}
  
hr{
    border-top: 1px solid rgb(206, 206, 206);
}

@media (max-width: 575px) {
    h1.display-5{
        font-size: 180%;
    }
}