*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-image: url(../img/bg6b.jpg);
}

.txt1{
    top: 50px;
    margin-bottom: 20px;
    font-size: 28px;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}

.login{
    border-radius: 60px 5px 60px 5px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 16px;
    background-image: linear-gradient(rgb(81, 182, 233), rgb(46, 107, 138));
    box-shadow: 0 10px 50px black;
    width: 350px;
    height: 500px;
    padding: 20px;
}

form{
    margin-top: 50px;
}

input, textarea{
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%,-50%);
}

label{
    margin-left: 20px;
    color: white;
}

.enviar{
    margin-left: 50%;
    margin-top: 20px;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 40px;
    background-color: rgba(77, 180, 232, 0);
    border:solid 2px #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: 1s;
    color: white;
}

.enviar:hover{
    width: 300px;
    height: 40px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: 1s;
    color: #4DB5E8;
}

.em{
    border-radius: 25px;
    border: none;
}

.ps{
    border-radius: 25px;
    border: none;
}

.user{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.links{
    text-align: center;
}

.links a{
    padding: 20px;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: -10px;
    color: white;
    text-decoration: none;
    transition: .5s;
}

.links a:hover{
    text-decoration: underline;
}

.email{
    margin-top: 50px;
}

.conteudo{
    width: 100%;
}