/*ajuste geral da pagina*/
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/*mexendo no header*/
.topo{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/bg1.jpg);
    background-position: center;
}

/*logo do header*/
.topo img{
    top: 30px;
    margin-left: 45%;
    position: absolute;
    width: 128px;
    height: auto;
}

/*unnorderlist (navbar)*/
.menu ul{
    list-style: none;
    padding: 15px 30px;
    margin-left: auto;
    margin-right: auto;
}

/*itens da lista*/
.menu ul li{
    display: inline;
}

/*texto dos itens*/
.menu ul li a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    transition: .5s;
}

/*quando passar o mouse por cima*/
.menu ul li a:hover {
    background-color:white;
    color: black;
    transition: .5s;
}

/*icones do facebook e twitter*/
.icones{
    float: right;
    width: 150px;
    padding: 10px 30px;
}

/*icone twitter*/
.fa-twitter-square{
    float: right;
    color: white;
    padding: 20px;
}

/*icone facebook*/
.fa-facebook-square{
    float: right;
    color: white;
    padding: 20px;
}

/*icone twitter dentro do h1*/
.twitter{
    font-size: 28px;
    transition: .5s;
}

/*quando passa o mouse por cima*/
.twitter:hover{
    opacity: 0.8;
    transition: .5s;
}

/*icone facebook dentro do h1*/
.facebook{
    font-size: 28px;
    transition: .5s;
}

/*quando passa por cima*/
.facebook:hover{
    opacity: 0.8;
    transition: .5s;
}

/*texto header e botões do header (posicionamento)*/
.enjoy{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

/*configurando texto*/
.enjoy h1{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-top: 250px;
}

/*configurando botões (posição)*/
.button{
    margin-top: 30px;
    margin-left: 43%;
}

/*estilo botões*/
.btn{
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    transition: .5s;
}

/*quando passa por cima*/
.btn:hover{
    background-color: white;
    color: black;
    transition: .5s;
}

/*botão cadastro*/
.btn-two{
    background-color: white;
    color: black;
}

/*botões da section parte1 (posicionamento)*/
.button-info1{
    margin-top: 30px;
    margin-left: auto;
}

/*estilo botões da section parte1*/
.btn2{
    border: 1px solid #191d23;
    border-radius: 25px;
    padding: 10px 30px;
    color: #191d23;
    text-decoration: none;
    transition: .5s;
}

/*quando passa o mouse por cima*/
.btn2:hover{
    background-color: #191d23;
    color: white;
    transition: .5s;
}

/*botões da section parte2 (posicionamento)*/
.button-info2{
    margin-top: 30px;
    margin-left: auto;
}

/*configurando div da parte1 ("o que voce vera aqui?")*/
.info1{
    padding-top: 40px;
    width: 100%;
    height: 450px;
    background-color: white;
    text-align: center;
}

/*configurando titulo da parte1*/
.info1 h1{
    padding: 20px;
    color: #191d23;
    font-size: 36px;
}

/*configurando paragrafo da parte1*/
.info1 p{
    color: #191d23;
    font-size: 20px;
}

/*div dos projetos*/
.projetos{
    display: flex;
    padding: 20px;
    justify-content: center;
}

/*configurando o projeto*/
.projeto {
    width: 350px;
    height: 128px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    transition: .5s;
}

/*quando passa o mouse por cima do projeto*/
.projeto:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    transition: 0.5s;
}

/*configurando imagem do projeto*/
.projeto img {
    border-radius: 10px;
    transition: 0.3s;
    float: left;
    width: 64px;
    height: 64px;
    padding: 20px;
}

/*espaçamento dentro dos cards*/
.container-p {
    padding: 10px 16px;
}

/*configurando o nome no card*/
.container-p h4{
    font-weight: bold;
    color: #191d23;
    font-size: 20px;
    text-align: left;
}

/*configurando linguagem, valor e descricao*/
.container-p p{
    color: #191d23;
    font-size: 14px;
    text-align: left;
}

/*configurando div da parte2 ("o que temos a oferecer?")*/
.info2{
    padding-top: 40px;
    width: 100%;
    height: 450px;
    background-color: #4DB5E8;
    background-image: linear-gradient(#4DB5E8, rgb(51, 105, 133));
    text-align: center;
}

/*configurando titulo da parte2*/
.info2 h1{
    padding: 20px;
    color: white;
    font-size: 36px;
}

/*configurando paragrafo da parte2*/
.info2 p{
    color: white;
    font-size: 20px;
}

/*videos da parte2 (posicionamento)*/
.videos{
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-left: auto;
    justify-content: center;
}
.video1{
    padding: 20px;
}

.video2{
    padding: 20px;
}

.video3{
    padding: 20px;
}

/*icone projeto*/
.fa-project-diagram{
    color: #191d23;
    padding: 0px 20px;
}

/*icone video*/
.fa-photo-video{
    color: white;
    padding: 0px 20px;
}

/*configurando div parte3 ("opiniões")*/
.info3{
    padding-top: 40px;
    width: 100%;
    height: 450px;
    background-color: #191d23;
    background-image: linear-gradient(#191d23, #121418);
    text-align: center;
}

/*configurando titulo da parte3*/
.info3 h1{
    padding: 20px;
    color: white;
    font-size: 36px;
}

/*configurando paragrafo da parte3*/
.info3 p{
    color: white;
    font-size: 20px;
}

/*icone opiniões*/
.fa-user-friends{
    color: white;
    padding: 0px 20px;
}

/*div das opinioes dos usuarios*/
.opinioes{
    display: flex;
    padding: 20px;
    justify-content: center;
}

/*configurando a opiniao*/
.card {
    width: 350px;
    height: 128px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    transition: .5s;
}

/*quando passa o mouse por cima da opiniao*/
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    transition: 0.5s;
}

/*configurando imagem da opiniao*/
.card img {
    border-radius: 10px;
    transition: 0.3s;
    float: left;
    width: 128px;
    height: 100%;
}
  
/*espaçamento dentro dos cards*/
.container {
    padding: 10px 16px;
}

/*configurando o nome no card*/
.container h4{
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: left;
}

/*configurando a profissão e o comentario*/
.container p{
    font-size: 14px;
    text-align: left;
}

/*botão "deixe sua avaliação (posicionamento)"*/
.button-info3{
    margin-top: 30px;
    margin-left: auto;
}

@media (max-width: 1100px){
    /*logo do header*/
    .topo img{
        top: 80px;
        margin-left: 45%;
        position: absolute;
        width: 128px;
        height: auto;
    }

    /*unnorderlist (navbar)*/
    .menu ul{
        list-style: none;
        padding: 15px 30px;
        left: 50%;
    }

    /*itens da lista*/
    .menu ul li{
        display: inline;
    }

    /*texto dos itens*/
    .menu ul li a{
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        font-size: 18px;
        border-radius: 25px;
        transition: .5s;
    }

    /*quando passar o mouse por cima*/
    .menu ul li a:hover {
        background-color:white;
        color: black;
        transition: .5s;
    }
}