/*ajuste geral da pagina*/
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/*mexendo no header*/
.topo{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/bg5.jpg);
    background-position: center;
}

/*logo do header*/
.topo img{
    top: 30px;
    margin-left: 45%;
    position: absolute;
    width: 128px;
    height: auto;
}

/*unnorderlist (navbar)*/
.menu ul{
    list-style: none;
    padding: 15px 30px;
    margin-left: auto;
    margin-right: auto;
}

/*itens da lista*/
.menu ul li{
    display: inline;
}

/*texto dos itens*/
.menu ul li a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    transition: .5s;
}

/*quando passar o mouse por cima*/
.menu ul li a:hover {
    background-color:white;
    color: black;
    transition: .5s;
}

/*icones do facebook e twitter*/
.icones{
    float: right;
    width: 500px;
    padding: 10px 30px;
}

/*icone twitter*/
.fa-twitter-square{
    float: right;
    color: white;
    padding: 20px;
}

/*icone facebook*/
.fa-facebook-square{
    float: right;
    color: white;
    padding: 20px;
}

/*icone twitter dentro do h1*/
.twitter{
    font-size: 28px;
    transition: .5s;
}

/*quando passa o mouse por cima*/
.twitter:hover{
    opacity: 0.8;
    transition: .5s;
}

/*icone facebook dentro do h1*/
.facebook{
    font-size: 28px;
    transition: .5s;
}

/*quando passa por cima*/
.facebook:hover{
    opacity: 0.8;
    transition: .5s;
}

/*texto header e botões do header (posicionamento)*/
.enjoy{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

/*configurando texto*/
.enjoy h1{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-top: 250px;
}

.enjoy p{
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

/*configurando botões (posição)*/
/*.button-c{
  margin-top: 30px;
}

/*estilo botões*/
/*.btn-c{
  border: 1px solid #191d23;
  border-radius: 25px;
  padding: 10px 30px;
  color: #191d23;
  text-decoration: none;
  transition: .5s;
  font-size: 14px;
}

/*quando passa por cima*/
/*.btn-c:hover{
  background-color: #191d23;
  color: white;
  transition: .5s;
}*/

/*div dos contatos e informações*/
.contatos{
  height: 1000px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  justify-content: center;
}

/*configurando as infos*/
.contato {
  width: 380px;
  height: 430px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  transition: .5s;
}

/*quando passa o mouse por cima do card*/
.contato:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  transition: 0.5s;
}

/*configurando imagem do card*/
.contato img {
  border-radius: 50px;
  transition: 0.3s;
  float: left;
  width: 64px;
  height: 64px;
  padding: 20px;
}

/*espaçamento dentro dos cards*/
.container-c {
  padding: 10px 16px;
  margin-top: 30px;
}

/*configurando o nome no card*/
.container-c h4{
  font-weight: bold;
  color: #191d23;
  font-size: 20px;
  text-align: left;
}

/*configurando Nome, email e telefone*/
.container-c p{
  margin-top: 15px;
  color: #191d23;
  font-size: 14px;
  text-align: justify;
}

@media (max-width: 1100px){
  /*logo do header*/
  .topo img{
      top: 80px;
      margin-left: 45%;
      position: absolute;
      width: 128px;
      height: auto;
  }

  /*unnorderlist (navbar)*/
  .menu ul{
      list-style: none;
      padding: 15px 30px;
      left: 50%;
  }

  /*itens da lista*/
  .menu ul li{
      display: inline;
  }

  /*texto dos itens*/
  .menu ul li a{
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      color: white;
      font-size: 18px;
      border-radius: 25px;
      transition: .5s;
  }

  /*quando passar o mouse por cima*/
  .menu ul li a:hover {
      background-color:white;
      color: black;
      transition: .5s;
  }
}